{% extends 'gshop/base.html' %}

{% block content %}



    <main class="form-signin w-50 m-auto">
        <form method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Войдите или зарегистрируйтесь</h1>
            <table>{{ form.as_table }}</table>


            <button class="w-100 btn btn-lg btn-primary my-3" type="submit">Войти</button>
            <a href="{% url 'register' %}"><button class="w-30 btn btn-lg btn-primary my-3"
                                                   type="button">Регистрация</button></a>
        </form>
    </main>
{% endblock %}