{% extends "gshop/base.html" %}
{% load static %}

{% block content %}
    <h1 class="h-auto">Корзина</h1>
    {% if cart.get_total_price == 0 %}
    <h4>Ваша корзина пуста =(</h4>
    {% else %}
    <table class="cart h-100">
        <thead>
        <tr>
            <th>Изображение</th>
            <th>Продукт</th>
            <th>Количество</th>
            <th>Убрать</th>
            <th>Цена за единицу</th>
            <th>Стоимость</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.photo.url }}">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url "cart_remove" product.id%}">Remove</a></td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Всего</td>
            <td colspan="4"></td>
            <td>${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "all_products" %}" type="button" class="btn btn-light">Continue shopping</a>
        <a href="{% url 'checkout' %}" type="button" class="btn btn-success">Checkout</a>
    </p>
    {% endif %}
{% endblock %}